<!DOCTYPE html>
<html>

<head>
    <% include ../static/partials/head.ejs %>
</head>

<body>

    <% include ../static/partials/navbar.ejs %>

    <main class="container">
        <% include ../static/partials/messages.ejs %>

        <h1>Account Upgraded</h1>
        <p>Thanks for upgrading your account, you are now a premium member!</p>

        <a href="/users/account" class="btn btn-outline-info btn-sm"><i class="fas fa-arrow-left"></i>Back to my profile</a>

    </main>

    <% include ../static/partials/baseScripts.ejs %>

</body>

</html>